<div class="bodyservindx"></div>
<div class="gradservindx"></div>


<h1 class="headerservindx">Mis Paseos</h1>

<%# <%= link_to 'Create New Service', new_service_path %>


    <div class="containerservindx">
  <div class="headerdivservindx">
    <ul class="datosservindx">
    <% @services.each do |service| %>
<hr>
        <div> <li><p><strong>Nombre:</strong> <span><%= current_user.name.capitalize %></span></p></li></div>
        <div> <li><p><strong>Tiempo:</strong> <span><%= service.walking_time %></span></p></li></div>
        <div> <li><p><strong>Precio ($):</strong> <span><%= service.price %></span></p></li></div>
        <div> <li><p><strong>Distancia (km):</strong> <span><%= service.distance %></span></p></li></div>
<hr>
        <%= link_to 'Eliminar', service_path(service), class: "btnservindx", data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } %>

    <% end %>
    </ul>
  </div>
  </div>
