
<h1 class="text-secondary">Perritos que buscan que los paseen</h1>

<ul>
  <% @dogs.each do |dog|  %>
    <h5 class="text-secondary"><li><%= dog.name.capitalize %> <%= dog.user.name.capitalize %></li></h5>
  <% end  %>
</ul>

<div class="bodyindogs"></div>
<div class="gradindogs"></div>


<h1 class="headerindogs">Perfil Perruno</h1>

<div class="container">
  <div class="headerindogsm">
    <ul class="datos">
      <% @dogs.each do |dog| %>
         <div> <li><p><strong>Nombre:</strong> <span><%= dog.name.capitalize %></span></p></li></div>
         <div> <li><p><strong>Raza:</strong> <span><%= dog.breed.capitalize %></span></p></li></div>
         <div> <li><p><strong>Tamaño:</strong> <span><%= dog.size.capitalize %></span></p></li></div>
         <div> <li><p><strong>Alergias o Enfermedades:</strong> <span><%= dog.sickness_allergies.capitalize %></span></p></li></div>
      <% end %>
    </ul>
  </div>
</div>
</div>

