<div class="bodydogsnew"></div>
<div class="graddogsnew"></div>
<div class="headerdogsnew">
  <div>Agrega a tu perrito a <br> <span> Guauf</span></div>
</div>
<br>

<%= form_with model: @dog do |f| %>
  <%# <div class="dogsnew input"> %>
  <div  <%# class="containerdogsnew" %> class="btndogsnew">
    <%= f.label :Nombre %>
    <%= f.text_field :name %>

    <%= f.label :Cumpleaños %>
    <%= f.text_field :date_of_birth %>

    <%= f.label :Raza %>
    <%= f.text_field :breed %>

    <%= f.label :Tamaño %>
    <%= f.text_field :size %>

    <%= f.label :Vacunas %>
    <%= f.text_field :vaccines %>

    <%= f.label :Enfermedades %>
    <%= f.text_field :sickness_allergies %>

    <%= f.label :Descripcion %>
    <%= f.text_field :about_me %>

    <%= f.submit "Crear Perrito" %>
<% end %>
 </div>
