<h2>Detalles de tu booking numero <%= @booking.id %> </h2>

<ul>
  <li><%= @booking.time %></li>
  <li><%= @booking.price %></li>
  <li><%= @booking.date %></li>
  <li><%= @booking.dog_id %></li>  
</ul>