<h2>Detalles de tu booking numero <%= @booking.id %> </h2>

<div class="bodyshow"></div>
<div class="grad"></div>

<div class="container">
  <div class="header">
<ul>
  <li><%= @booking.time %></li>
  <li><%= @booking.price %></li>
  <li><%= @booking.date %></li>
  <li><%= @booking.dog_id %></li>
</ul>
</div>
</div>
