<!-- app/views/users/show.html.erb -->

<h1 class="profile-header">Mi Perfil</h1>

<div class="bodyshow"></div>
<div class="grad"></div>

<div class="container">
  <div class="header">
    <h2>Información Personal</h2>
    <hr>
    <p><strong>Nombre:</strong> <%= @user.name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Teléfono:</strong> <%= @user.phone_number %></p>
    <p><strong>Dirección:</strong> <%= @user.address %></p>
    <p><strong>Acerca de Mí:</strong> <%= @user.about_me %></p>


  <div class="avatar-section">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "avatarshow" %>
      <%#= link_to "Eliminar Fotografia", delete_avatar_user_path(@user), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btnav" %>
    <% else %>
      <%= image_tag "avatar_perrito.png", class: "default-avatar" %>
      <%= link_to "Agregar Avatar", edit_user_path(@user), class: "update-link" %>
    <% end %>
  </div>
</div>

   <%#= link_to "Cambiar Mi Contraseña", edit_user_path(@user), class: "btn" %>
  </div>
</div>
