<!-- app/views/users/show.html.erb -->

<h1 class="profile-header">Mi Perfil</h1>

<div class="bodyshow"></div>
<div class="grad"></div>
<div class="grad"></div>


<div class="container">
  <div class="header">
    <h2>Información Personal</h2>
    <hr>
    <p><strong>Nombre:</strong> <%= @user.name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Teléfono:</strong> <%= @user.phone_number %></p>
    <p><strong>Dirección:</strong> <%= @user.address %></p>
    <p><strong>Acerca de Mí:</strong> <%= @user.about_me %></p>


  <div class="avatar-section">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "avatarshow" %>
    <% else %>
      <%= image_tag "avatar_perrito.png", class: "default-avatar" %>
    <% end %>
  </div>
</div>

   <%= link_to "Eliminar Fotografia", delete_avatar_path, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btnshow" %>
   <%= link_to "Agregar Avatar", "/users/edit", class: "update-link btnshow"  %>
   <%= link_to "Cambiar Mi Contraseña", "/users/edit", class: "btnshow" %>
  </div>
</div>
